   <!DOCTYPE html>
<html>
<head>
	
	<title></title>
</head>
<body>
	<h1 id="aboutus">ABOUT US</h1>
<div id="aboutuspic1"></div>    
    <div id="aboutustext">
   
    </div> 












<script type="text/javascript" src="javascript/about.js"></script>

</body>

</html>




