<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="parallax">
	<div class="caption">
	<span class="menu">CAFE FARE</span>
	</div>
</div>

<div class="bgimg-1">
  
    
  
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">FROM OUR KITCHEN DAILY</h3>
  <h2>FEATURED SANDWICHES AND SIDES</h2>

<div>
<p>Chicken Bacon Ranch<br>
Deli-sliced chicken breast, bacon, provolone, lettuce and tomato on sourdough<br>
$5.95</p>

<p>Halloumi Grilled Cheese<br>
With spicy red pepper jam, spinach and caramelized onions on ciabatta<br>
$5.95</p>

<p>Hummus Veggies and Avocado<br>
With basil pesto, spinach, carrot and beet on muligrain [vegan]<br>
$5.95</p>

<p>Mediterranean Pasta Salad<br>
With arugula, red onion, Kalamata olives and feta cheese<br>
$3.00</p>

<p>Vegan Quinoa Tabbouleh<br>
With cucumber, tomato, parsley and mint<br>
$3.00</p>

</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">COOL!</span>
  </div>
</div>


<script type="text/javascript" src="javascript/about.js"></script>
</body>
</html>