   <!DOCTYPE html>
<html>
<head>
	
	<title></title>
</head>
<body>
<div id="aboutuspic1">
    
    <div id="aboutustext">
   about us;kmnojnpouibp;iubh[ouib[iub[yibuob0u]]]
    </div> 

</div>










<script type="text/javascript" src="javascript/about.js"></script>

</body>

</html>




