<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
</head>
<body id="catering-background">

	<h1 id="catering" align="center">CATERING</h1>
	<div id="photo">
	</div>
		<h1 id="catering2" align="center">CATERING PACKAGES</h1>
		<div id="textbox1">Planning an event can be overwhelming—so many choices; so many decisions!—and that’s why we’ve put together some ready made packages that simplify the process for you. The catering packages below showcase our seasonal menu suggestions while offering complete event services at an affordable price. Can’t find a package that meets your needs? We are happy to custom write proposals with your vision in mind.</div>
		
	</div>
</div>

<!-- <div id="textbox2">fjbhpruihvpiurhgvpriubriupbhrgv</div> -->

<div id="cateringfooter"></div>



<script type="text/javascript" src="javascript/catering.js"></script>
</body>
</html>