<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body id="contact-body">
	<h1 id="contact-h1">CONTACT US</h1>
<div id="form-box">
<form id="contct-forms" method='get'  action='/contact'>
	<div><input type="text" name="" placeholder="NAME"></div>
	<div><input type="text" name="" placeholder="EMAIL"></div>
	<div><textarea type="text" name="subject" placeholder="SUBJECT"></textarea></div>
    <div class="centerer"><input type="submit" name="" type="submit" value='Send Email'></div>
</form>
</div>




<script type="text/javascript" src="javascript/contact.js"></script>
</body>
</html>