<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body id="contact-body">
	<h1 id="contact-h1">CONTACT PAGE</h1>

<form id="contct-forms" method='get'  action='/contact'>
	<div><input type="text" name="" placeholder="NAME"></div>
	<div><input type="email" name="" placeholder="email"></div>
	<div><input type="text" name="subject"></div>
    <div><input type="submit" name="" type="submit"></div>
</form>






<script type="text/javascript" src="javascript/contact.js"></script>
</body>
</html>