<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<!-- <div class="fullscreen-bg">
	<video autoplay loop muted poster="img/longpour.jpg" class="fullscreen-video" plays-inline>
			<source src="video/coffeepour.mp4" type="video/mp4">
	</video>
</div> -->
<video controls="">
<source src="video/coffeepour.mp4" type="video/mp4" width="200px" height="250px">
</video>


<script type="text/javascript" src="javascript/home.js"></script>
</body>
</html>
