<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>

<h1>Welcome to My Website!!</h1>

<nav class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/posts">Posts</a></li>
	</ul>
</nav>

<div class="main-container"> <%= yield %> </div>

<script type="text/javascript" src="javascript/layout.js"></script>

</body>