<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<<<<<<< HEAD

<body>
	
<h1>Coffee</h1>

<nav class="navbar">
=======
<body>
<header id="header">
<nav id="navbar">
>>>>>>> 8cb51a8d9c7bc25f2bf8496f3a68aa62293a3c14
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/menu">Menu</a></li>
		<li><a href="/catering">Catering</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</nav>
</header>
<div class="main-container"> <%= yield %> </div>


<<<<<<< HEAD
</body>

</html>
=======




<script type="text/javascript" src="javascript/layout.js"></script>
</body>
</html>
>>>>>>> 8cb51a8d9c7bc25f2bf8496f3a68aa62293a3c14
