   <!DOCTYPE html>
<html class="mainhtml">
<head>
	
	<title>Menu</title>
</head>
<body class="mainbody">

<div class="parallax">
	<div class="title">
	<span class="menu">MENU</span>
	</div>
</div>

<div class="img1"></div>

<div class="bev-items">
<h2 class="titleh2">COFFEE BAR</h2>
<h3 class="titleh3">Featuring organic and fairly traded coffees roasted by Equal Exchange</h3>

<p>ESPRESSO<br>
(<span style="font-style: italic">our espresso drink base size is a doubleshot / 12oz — drinks can be upsized for add’l charge</span>)</p>

<p>Cafe Latte<br>
$3.50</p>

<p>Cafe Mocha<br>
$3.75</p>

<p>Cafe Americano<br>
$2.50</p>

<p>Espresso<br>
$2.00</p>

<p>Macchiato<br>
$3.00</p>

<p>Cappuccino<br>
(<span style="font-style: italic">traditional 8oz.</span>)<br>
$3.25</p>

<h2>MORE HOT DRINKS</h2>

<p>Drip Coffee<br>
$1.95 / $2.25</p>

<p>Cafe Au Lait<br>
$2.75 / $3.25</p>

<p>Chai Tea Latte<br>
(<span style="font-style: italic">our own recipe — not from a mix</span>)<br>
$3.25 / $3.75</p>

<p>Hot Chocolate<br>
$3.00 / $3.50</p>

<p>Hot Milk Steamer<br>
$2.75 / $3.25</p>

<p>Hot Tea<br>
(<span style="font-style: italic">organic loose-leaf</span>)<br>
$2.25

<h2>COLD DRINKS</h2>

<p>Signature Cold Brew Iced Coffee<br>
$3.00 / $3.50</p>

<p>House-made Iced Tea<br>
$3.00 / $3.50</p>

<p>Iced Cafe Latte<br>
$3.50 / $4.95</p>

<p>Iced Cafe Mocha<br>
$3.75 / $5.25</p>

</div>
  <div class="img2">
  <!-- <div class="title">
    <span class="menu" style="background-color:transparent;font-size:25px;color: #f7f7f7;">TITLE OR QUOTE??</span> -->
  </div>
</div>


<div class="menu-items">

<h2 class="titleh2">FROM OUR KITCHEN DAILY</h2>
<h3 class="titleh3">Featured Sandwiches and Sides</h3>

<p>Chicken Bacon Ranch<br>
Deli-sliced chicken breast, bacon, provolone, lettuce and tomato on sourdough<br>
$5.95</p>

<p>Halloumi Grilled Cheese<br>
With spicy red pepper jam, spinach and caramelized onions on ciabatta<br>
$5.95</p>

<p>Hummus Veggies and Avocado<br>
With basil pesto, spinach, carrot and beet on muligrain [vegan]<br>
$5.95</p>

<p>Mediterranean Pasta Salad<br>
With arugula, red onion, Kalamata olives and feta cheese<br>
$3.00</p>

<p>Vegan Quinoa Tabbouleh<br>
With cucumber, tomato, parsley and mint<br>
$3.00</p>

</div>

<!-- <div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="img3">
  <div class="title">
    <span class="menu" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ANOTHER TITLE OR QUOTE?</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div> -->

<div class="img3"></div>

<script type="text/javascript" src="javascript/about.js"></script>

</body>

</html>


<!-- ༼ʘ̚ل͜ʘ̚༽ -->


