#aboutus{
	font-size:30pt;
	color:black;
	margin-top:60px;
	text-align:center;
	font-family: 'Shrikhand', cursive;
	text-shadow: 2px 2px brown;

}
#aboutuspic1{
  background-image:url("../img/aboutus2.jpg");
  background-position:fixed;
  height:600px;
  width:100%;
  
  
}
#aboutustext{
	height:450px;
	width:600px;
	// border: 2px solid black;
	text-align:center;
	background-color:tan;
	// padding-top:10%;
	margin:auto;
    position:absolute;
	left:0%;
	right:0%;
	opacity: .8;
	font-size:14pt;
	font-family: 'Shrikhand', cursive;
	box-shadow: 5px 5px 5px 5px black;
	
}


























/* Turns off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
