#aboutus{
	font-size:40pt;
	color:black;
	margin-top:60px;
	text-align:center;
	font:48px "Lato", sans-serif;
	text-shadow: 1px 1px white;

}

#aboutuspic1{
  background-image:url("../img/aboutus8.jpg");
  background-position:cover;
  background-size: 100% 100%;
  height:600px;
  width:100%;
  
  
}
#aboutustext{
	height:400px;
	width:600px;
	text-align:center;
	background-color: rgba(255, 255, 255, .6);
	// padding-top:10%;
	margin:auto;
	margin-bottom:0px;
    position:absolute;
	left:0%;
	right:0%;

	// opacity: .5;
	font-size:14pt;
	font: 20px "Lato", sans-serif;
	box-shadow: 5px 5px 5px 5px black;
	
}


























/* Turns off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
