#photo{
	background-image: url('img/catering4.jpg');
	background-position: center;
	height:600px;
	width:600%;
	border: 2px solid black;
	margin-top:10%;
	// background-color:red;

}
#textbox1{
	height:200px;
	width:400px;
	border: 2px solid black;
	position: absolute;
	top:98%;
	left:5%;
	background-color:gray;
}
// #textbox2{
// 	height:100%;
// 	width:450px;
// 	border: 2px solid black;
// 	position: absolute;
// 	top:43%;
// 	left:69%;
// 	background-color:gray;

// }
