#contact-body{
	background-color:red;
}
#contact-h1{
	margin-top:100px;
	font-size:40pt;
	color:black;
	margin-top:60px;
	text-align:center;
	font:"Lato", sans-serif;
	text-shadow: 1px 1px white;
}
#contct-forms{
	margin-top:80px;
	text-align:center;
}