* {
  margin: 0;
  padding: 0; }

#header nav {
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  text-align: center; }

#navbar li {
  display: inline-block;
  width: 200px;
  text-align: center; }

#navbar a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  font: 18px 'Lato', sans-serif;
  text-transform: uppercase; }

#navbar a:hover {
  background-color: #2B2A30; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: black;
  z-index: 100;
  text-align: center; }

.footerText {
  color: white;
  padding: 0 20px;
  display: inline-block;
  font: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em; }

.edge {
  border-right: 0.5px solid #2B2A30; }

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-video {
    width: 100%;
    height: auto; } }
@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-video {
    width: auto;
    height: 100%; } }
@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-video {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-video {
    width: 300%;
    left: -100%; } }
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("../img/longpour.jpg") center center/cover no-repeat; }

  .fullscreen-video {
    display: none; } }
#aboutus {
  font-size: 40pt;
  color: black;
  margin-top: 60px;
  text-align: center;
  font: "Lato", sans-serif;
  text-shadow: 1px 1px white; }

#aboutuspic1 {
  background-image: url("../img/aboutus8.jpg");
  background-position: cover;
  background-size: 100% 100%;
  height: 600px;
  width: 100%; }

#aboutustext {
  height: 400px;
  width: 600px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  margin-bottom: 0px;
  position: absolute;
  left: 0%;
  right: 0%;
  font-size: 14pt;
  font: 20px "Lato", sans-serif;
  box-shadow: 5px 5px 5px 5px black; }

/* Turns off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll; } }
#contact-body {
  background-color: red; }

#contact-h1 {
  margin-top: 100px;
  font-size: 40pt;
  color: black;
  margin-top: 60px;
  text-align: center;
  font: "Lato", sans-serif;
  text-shadow: 1px 1px white; }

#contct-forms {
  margin-top: 80px;
  text-align: center; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  display: none;
  background: black;
  border: 2px solid;
  z-index: 100; }

.modal-guts {
  color: white;
  padding: 10px 10px 0 10px; }

.centerer {
  text-align: center; }

.close {
  position: absolute;
  right: 0px;
  padding: 2px;
  margin: 5px;
  font-size: 14px;
  z-index: 1;
  display: block; }

.subscribe {
  background-color: white;
  font-size: 28px;
  height: 36px; }

.align {
  text-align: center; }

.align input {
  width: 300px;
  height: 32px; }

.input1 {
  padding: 10px; }

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

.parallax {
  /* The image used */
  background-image: url("../img/coffee-table.jpg");
  /* sets a specific height */
  height: 700px;
  /* creates the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.mainbody {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777777; }

.mainhtml {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777777; }

.img1, .img2, .img3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.img1 {
  background-image: url("../img/coffee-pour.jpg");
  min-height: 700px; }

.img2 {
  background-image: url("../img/coffee-lids.jpg");
  min-height: 700px; }

.img3 {
  background-image: url("../img/coffee-smile.jpg");
  min-height: 700px; }

.title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000; }

.title span.menu {
  background-color: #111111;
  color: #FFFFFF;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px; }

.titleh2 {
  font-style: italic; }

.titleh3 {
  letter-spacing: 2px;
  font: 20px "Lato", sans-serif;
  text-align: center;
  color: #111111; }

.menu-items {
  color: 777777;
  background-color: white;
  text-align: center;
  padding: 50px 80px; }

.bev-items {
  color: 777777;
  background-color: white;
  text-align: center;
  padding: 50px 80px; }

/* Turns off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll; } }
#catering-background {
  background-color: white;
  background-image: url("../img/cateringimg.jpg");
  background-size: cover;
  height: 600px;
  width: 100%; }

#catering2 {
  font: 400 15px/1.8 "Lato", sans-serif;
  color: black;
  font-size: 40pt;
  text-shadow: 1px 1px white;
  margin-top: 50px; }

#textbox1 {
  height: 300px;
  width: 50%;
  border: 0px solid black;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Overlock', cursive;
  font-size: 20pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  box-shadow: 8px 8px 8px 8px black;
  background-color: rgba(255, 255, 255, 0.6); }

#cateringfooter {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999; }

/*# sourceMappingURL=main.css.map */
